<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Panier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="client">
    <div class="row">
      <div class="col s4">
        <img src="{{client.picture}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
      </div>
      <div class="col s8">
        <h1>Panier de {{client.nom}} {{client.prenom}} du marché coopératif </h1>
      <p *ngIf="panierClient">
        le {{panierClient.dateAchat | date: 'dd/MM/yyyy' }}<br/>
        Total du panier : {{totalPanier}}
      </p>
      </div>

    </div>

    <ul *ngIf="panierClient" class="collection">
      
      <li  *ngFor="let produitAchete of panierClient.produitsAchetes" class="collection-item avatar">
        <img  src="" alt="" class="circle">
        <titreProduit [idProduit]="produitAchete.id" ></titreProduit>
        <p>Poids :  {{produitAchete.poids}} Kg<br>
          Prix au Kg : {{produitAchete.prixKg}} €/Kg<br>
          Total : {{produitAchete.prixPaye}} €
        </p>
        <a (click)="removeProductFromPanier()" class="secondary-content waves-effect waves-light btn">
          <i class="material-icons">delete_forever</i>
        </a>
      </li>
    
    </ul>

<div *ngIf="panierClient">
  <a  (click)="addProductToPanier()" class="btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">add</i>
</a>


</div>
    
  

  </div>
  <div *ngIf="!client" class='center'>
      <marche-loader></marche-loader>
  </div>

  

</ion-content>